.slides {
	height:100%;
	width:100%;
	display:table;
	text-align:center;
	position:absolute;
}

.slide {
	display: table-cell;
	vertical-align: middle;
	position:relative;
	padding:50px 200px;	
	font-size: 50px;
	font-family: 'Oswald', sans-serif;

	pre.prettyprint {
		text-align: left;
		font-size:18px;
		max-height:500px;
		overflow: scroll;
		padding:1em;
	}

	&.snippet {
		h1 {
			padding:0;
			margin:0;
			font-size:30px;
		}
	}

	&.image {
		img {
			max-width: 100%;
			border: 1px solid #666;
			padding: 2px;	
		}
		
	}

	&.bullets{
		li {
			line-height: 1.6em;
			text-align: left;
		}
	}

	&.quote {
		blockquote {
			line-height: 1.6em;
			text-align: left;
			display: inline-block;
			padding-bottom: 0;
			&:after, &:before {
				content: '\"';
				color:#666;
			}

			&:before {
				margin-left:-25px;
			}
		}

		cite {
			float:right;
			color:#666;
			&:before {
				content: "-"
			}
		}
	}
}